<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <main>
<!--    <application name="@novatec/vite-navbar"></application>-->
<!--    <a href="/app">open App</a>-->
    <application name="@novatec/vite-navbar"></application>
    <div style="display: flex">
      <aside>
        <application name="@novatec/vue-sidebar"></application>
      </aside>
      <% routes.forEach(function(route) { %>
        <route path="<%= route.path %>">
          <application name="<%= route.name %>"></application>
        </route>
      <% }); %>
    </div>
  </main>
</single-spa-router>
